{% extends 'base.html' %}

{% block contenido %}
    
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for transaccion in transacciones %}
        <tr>
            <td> {{ transaccion[2] }} </td>
            <td> {{ transaccion[1] }} </td>
            <td> {{ transaccion[0] }}</td>
            <td> {{ transaccion[3] }} </td>
            <td> {{ transaccion[4] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        
    
{% endblock %}